.portfolio-page {
  padding-top: 56px;
}

.tab-container {
  width: 100%;
  padding: 14px 0;
  background-color: rgb(130, 127, 127);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  transition: .25s ease-in;
  cursor: pointer;
}

.tab-container:first-child {
  border-radius: 8px 0 0 8px;
}

.tab-container:last-child {
  border-radius: 0 8px 8px 0;
}

.tab-container.active {
  background-color: rgb(170, 48, 48);
}

@media (max-width: 769px) {
  .tab-container {
    font-size: 1rem;
  }
}